<header>
  <img src="img/codea-logo.png" id="logo">
</header>

<h1 id="main-title">¡RAYUELA!</h1>
    <button id="start_btn" onclick="contador()">Jugar</button><br><br>
<h2 id="mensaje"></h2>
    <table class="table">
      <tr id="Player1">
        <td id="player1"><strong>Jugador 1</strong></td>
        <td id="num_tab_0" class="active"></td>
        <% for num_table in 1 .. 99%>
       <td id="num_tab_<%=num_table%>"> </td>       
        <%end%>
        
      </tr>

      <tr id="Player2">
        <td id="player2"><strong>Jugador 2</strong></td>
        <td id="num_tab_0" class="active"></td>
        <% for num_table in 1 .. 99%>
        <td id="num_tab_<%=num_table%>"> </td>
        <%end%>
      </tr>
</table>
<br> 

<h2 id="score"></h2>

